# kubectl resources
kube_resources:
  - "{{ deployment }}"
  - "{{ service }}"
  - "{{ ingressroute }}"

deployment: |
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: {{ app }}
    namespace: {{ ns }}
    labels:
      app: {{ app }}
  spec:
    template:
      metadata:
        labels:
          app: {{ app }}
      spec:
        # serviceAccountName: {{ app }}-sa
        containers:
        - name: {{ app }}-1
          image: {{ image }}
          env:
          - name: SNOWFLAKE_SOLEA_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ app }}
                key: snowflake_solea_username
          - name: SNOWFLAKE_SOLEA_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ app }}
                key: snowflake_solea_password
          - name: SNOWFLAKE_SOLEA_HOST
            valueFrom:
              secretKeyRef:
                name: {{ app }}
                key: snowflake_solea_host
          resources:
            limits:
              memory: {{ resource_limit_mem }}
              cpu: {{ resource_limit_cpu }}
    replicas: {{ replica_count }}
    selector:
      matchLabels:
        app: {{ app }}

service: |
  apiVersion: v1
  kind: Service
  metadata:
    name: {{ app }}
    namespace: {{ ns }}
  spec:
    selector:
      app: {{ app }}
    ports:
    - name: quart
      protocol: TCP
      port: 5000
      targetPort: 5000
    type: ClusterIP

ingressroute: |
  apiVersion: traefik.containo.us/v1alpha1
  kind: IngressRoute
  metadata:
    name: {{ app }}
    namespace: {{ ns }}
  spec:
    entryPoints:
    - web
    routes:
    - kind: Rule
      match: Host(\`{{ routehost }}\`) && PathPrefix(\`/\`)
      services:
      - name: {{ app }}
        port: 5000